{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  io.github.clj-commons/clj-http-lite {:git/tag "Release-0.4.392" :git/sha "6b53000"}
  io.github.clojure/data.json {:git/tag "v2.4.0" :git/sha "43c122e"}}}
